* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #219ebc; */
    font-family: 'Nunito', sans-serif;
    font-size: 70%;

    color: #023047;
    /*color: #ffb703; 
    color: #fb8500;
    color: #8ecae6; */
}

/* Style for the header */
.header {
    min-height: 8vh;
    width: 100%;
    background-color: #023047;
    position: fixed;
    top: 0;
    /* z-index: 1; */
}

/* Style for wrapper main -- landing page */
.wrapper {
    padding: 0 3rem;
}
.wrapper .main {
    background-color: #8ecae6;;
    height: 90vh;
    width: 100%;
    margin-top: 10vh;
}

/* Style for about section */
.wrapper .about {
    height: 100vh;
    width: 100%;
    background-color: #fb8500;
}

/* Style for contact section */
.wrapper .contact {
    height: 100vh;
    width: 100%;
    background-color: #ffb703;
}

footer {
    height: 100vh;
    width: 100%;
    background-color: #08212e;
}

/* Media query for screen smaller than 600px */
@media screen and (max-width: 600px) {
    .header {
        background-color: antiquewhite;
        bottom: 0;
        top: auto;
        z-index: 0;
    }
     
    .wrapper {
        padding: 0 .8rem;
    }
    .wrapper .main {
        height: 100vh;
        margin-top: 0;
    }
    footer {
        height: 90vh;
        margin-bottom: 10vh;
    }
}

